h1 {
    background-color:#d14836;
    font-family: Arial;
}
h2{
    font-style: #d14836;
    position:left;
    color: #d14836;
}
h3{
    border: #d14836;
    background-color:#f6dad7;
    text-align: left;
    color: #d14836;
}
body{
    border-color: #d14836;
}
