body {
    font-family: Verdana,sans-serif;
    margin: 20px;
    line-height: 26px;
}

h1 {
    background-color: #04aa6d;
    font-family: #f0f8ff;
}
h3,h5{
    border: rgb(9, 142, 194);
    background-color: skyblue;
    text-align: center;
    text-align: left;
    color: aliceblue;
}
